<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <!-- 扫描controller 注解-->
    <context:component-scan base-package="com.deer.managementPlatform.controller" />
    <mvc:annotation-driven />

    <!-- 2.静态资源默认servlet配置
        (1)加入对静态资源的处理：js,gif,png
        (2)允许使用"/"做整体映射
     -->
    <mvc:default-servlet-handler/>

    <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>
    <mvc:resources mapping="/**" location="/WEB-INF/pages/"/>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <!-- 登录拦截 -->
        <mvc:interceptor>
            <!-- /** 代表拦截所有 -->
            <mvc:mapping path="/**"/>
            <!-- 这个是排除路径，总不能把登陆也拦截吧 -->
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/verify/createImg"/>
            <!-- 这里是你刚才建的哪个LoginInterceptor的包路径 -->
            <bean class="com.deer.managementPlatform.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
<!--    <mvc:resources mapping="/js/**" location="/WEB-INF/js/" />-->
<!--    <mvc:resources mapping="/img/**" location="/WEB-INF/img/" />-->

    <!-- 3.配置jsp 显示ViewResolver -->
    <bean id="viewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="order" value="1"/>
        <property name="characterEncoding" value="UTF-8"/>
        <property name="templateEngine" ref="templateEngine"/>
    </bean>
  <!--  &lt;!&ndash; 整合sping jdbcTemplate &ndash;&gt;
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="sqlDao" class="com.deer.managementPlatform.util.SqlDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>-->


    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
    </bean>

    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML5"/>
        <property name="characterEncoding"  value="UTF-8" />
    </bean>
</beans>